@model IEnumerable<Events.web.Models.CourseCategory>
@{
    ViewBag.Title = "Course Categories";
}

<h2>COURSE CATEGORIES</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.Description</td>
        </tr>
    }
</table>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("CourseCategoryCreate", "TrainingStaff")'">
    Create Category
</button>